<div class="left-thick">
<%= @question %>
<br>
<p><em>- You</em></p>
</div>
<br>

<div class="left-thick coach">
<strong><%= @answer %></strong>
<br>
<p><em>- Your coach</em></p>

</div>
<br>

<%= link_to "Ask another question", ask_path %>
